.header {
  display: flex;
  font-family: monospace;
  background: papayawhip;
  padding: 4px;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none; /* this removes the dots on the list items*/
  display: flex;

  align-items: center; /* vertical */

  gap: 4px;
  padding: 0; /* FIX */
  margin: 0; /* FIX */
}
.left-links {
  display: flex;
  /*justify-content: flex-start;*/ /*unnessary, because the default value is flex-start*/
}
.right-links {
  display: flex;
  justify-content: flex-end;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
