.button1,
.button2 {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", serif;
} /* Add CSS Styling */
.button1 {
  color: white;
  background-color: black;
}
.button2 {
  background-color: yellow;
}
